<!DOCTYPE html>
<html>
  <head>
    <title>Sneakerr102</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full antialiased container mx-auto">
    <header class="sticky z-10 flex justify-between px-3 py-5 border-b border-gray-100">
      <h1 class="text-3xl font-bold hover:text-indigo-500">
        <%= link_to "Sneakerr", root_path %>
      </h1>
      <div class="flex gap-5 hover:text-indigo-500">
        <% if signed_in? %>
          <%= render "carts/cart" %>
          <%= button_to 'Sign out', sign_out_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', sign_in_path %>
          <%= link_to 'Sign up', sign_up_path %>
        <% end %>
      </div>
    </header>
    <main class="py-5">
      <%= yield %>
    </main>
  </body>
</html>
